.table-container{
    display: flex;
    flex-wrap: wrap;
    gap:2px
}
.table-container div {
    border: 1px solid black;
    border-radius: 6px;
    min-width: auto;
    width: 16.5%;
    margin-top: .1%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
}

.generic-container{
    width: 100%;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 6px;
}
