*
{
	margin: 0;
	padding: 0;
}

#contenedorSigno{
	margin: 5vh auto;
	padding: 2vw;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#descripcion{
	text-align: justify;
}