.login-container {
  display: flex;
  height: 100vh;
  background-color: var(--grey-800);
}

.login-column {
  flex-basis: 40%;
  text-align: center;
  padding: 3rem 4vw;
  display: flex;
  align-items: center;
}

.login-content {
  background-color: var(--grey-800);
  border-radius: 1rem;

  margin: auto;
}

.login-image {
  display: grid;
  place-content: center start;
  flex-basis: 60%;
  background: url(../../assets/imagenes/login-image.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.login-title {
  color: var(--grey-800);
  margin-left: 6rem;
  max-width: 22rem;
}

.login-navbar {
  position: absolute;
  bottom: 6rem;
  margin-left: 6rem;
}

.login-list {
  display: flex;
  gap: 2.5rem;
}

.login-link {
  color: var(--grey-800);
}
