/*Formulario*/
.form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form-control {
  position: relative;
  display: grid;
  gap: 0.5rem;
}

.form-control-input {
  position: relative;
  display: grid;
}

.form-input {
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 7px;
  border: 1px solid var(--grey-600);
  transition: border 0.2s ease-in-out;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--blue-800);
}

.form-input::placeholder {
  transition: placeholder 0.2s ease-in-out;
  font-size: var(--texto-normal);
  color: var(--grey-600);
}

.form-input-successful {
  border: 1px solid var(--green) !important;
}

.form-input-danger {
  border: 1px solid var(--red) !important;
}

.form-error,
.form-check {
  display: none;
  width: 1rem;
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
}

.form-status-enabled {
  display: block !important;
}

.form-input-error {
  display: none;
  position: absolute;
  right: 0;
  bottom: -1.1rem;
  color: var(--red);
  text-align: end;
}

.form-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-button-container button {
  margin-bottom: 1.2rem;
}

.form-submit-message {
  display: none;
  position: absolute;
  top: 3.3rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--red);
  font-size: var(--size-small);
}
